<section class="py-3" style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="banner-blocks">

                    <div class="banner-ad large bg-info block-1">

                        <div class="swiper main-swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories my-3">100% Doğal</div>
                                            <h3 class="display-4">Dalyandan Doğal PORTAKAL SUYU</h3>
                                            <p>Muğla'nın Dalyan bölgesindeki narenciye bahçelerimizden mevsiminde topladığımız taze, doğal, ilaçsız meyveleri soğuk sıkım yöntemleri ile sıkıyoruz.</p>
                                            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Sepete Ekle</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="https://productimages.hepsiburada.net/s/378/424-600/110000396553379.jpg/format:webp" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories mb-3 pb-3">100% natural</div>
                                            <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="/FoodMart-1.0.0/images/product-thumb-1.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories mb-3 pb-3">100% natural</div>
                                            <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="/FoodMart-1.0.0/images/product-thumb-2.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                        </div>
                    </div>

                    <div class="banner-ad bg-success-subtle block-2" style="background:url('/FoodMart-1.0.0/images/ad-image-1.png') no-repeat;background-position: right bottom">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">20% İndirim</div>
                                <h3 class="banner-title">Meyve & Sebze</h3>
                                <a href="#" class="d-flex align-items-center nav-link">Sepete Ekle <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                            </div>

                        </div>
                    </div>
                    
                    <div class="banner-ad bg-danger block-3" style="background:url('/FoodMart-1.0.0/images/ad-image-2.png') no-repeat;background-position: right bottom">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">15% İndirim</div>
                                <h3 class="item-title">Tahıl Ürünleri</h3>
                                <a href="#" class="d-flex align-items-center nav-link">Sepete Ekle <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / Banner Blocks -->

            </div>
        </div>
    </div>
</section>