
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Admin Sayfası</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:150px">
        <h3 class="w3-bar-item">İşlemler</h3>
        <a href="/Product/ProductList/" class="w3-bar-item w3-button">Ürünler</a>
        <a href="/Category/CategoryList/" class="w3-bar-item w3-button">Kategoriler</a>
        <a href="/Discount/DiscountList/" class="w3-bar-item w3-button">İndirimli Ürünler</a>
        <a href="/TrendProduct/TrendProductList/" class="w3-bar-item w3-button">Trend Ürünler</a>
        <a href="/Default/Index/" class="w3-bar-item w3-button">Siteye Git</a>
        <a href="#" class="w3-bar-item w3-button">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:150px">

        <div class="w3-container w3-teal">
            <h1>My FoodMart Project</h1>
        </div>


        <div class="w3-container">
         
        </div>
        @RenderBody()
    </div>

</body>
</html>
