 @model FoodMartMono.Dtos.TrendProductDto.CreateTrendProductDto  
@{
    ViewData["Title"] = "CreateTrendProduct";
    Layout = "~/Views/_layoutmain.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h2>Tren Ürün Oluşturma</h2>
<div class="container">
    <br />        <br />
    <h3 class="alert alert-primary">Yeni Trend Ürün  Ekleme Sayfası</h3>
    <form method="post">
        <label>Trend Ürün Adı </label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <button class="btn btn-info"> Trend ÜrünEkle</button>







    </form>








</div>
